.mobile-menu {
  display: none;

  &.is-open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: -700px;
    background-color: #fff;
    padding: 16px 20px;
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 20px;
    padding: 0;
    fill: transparent;
    background-color: transparent;
    border: transparent;
    stroke: var(--color-primary-dark-blue);
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-primary-dark-blue);
    text-decoration: none;

    &:hover {
      color: var(--color-primary-blue);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 16px;
  }

  &__icon:hover {
    fill: var(--color-primary-blue);
  }
}
